/*same css mods for all pages*/
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #121212;
    color: #EDEDED;
    font-family: 'ABeeZee', sans-serif;
}
#navigation{
    height:3em;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    transition:all 300ms ease;
    z-index: 10;
}
#heading{
    font-size: 2.2vw;
    height:5vw;
    width: 55vw;
    margin-left:10vw;
    margin-top:.5vw;
}
.menu{
    margin:auto;
  }
.menu li{
    list-style-type: none;
    display: inline;
    margin-top:10vw;
    margin-right:2.2vw;
    font-size: 1.5vw;
}
li a{
    transition: .4s ease;
    color: #EDEDED;
}
a{
    text-decoration: none;
}
li:hover a{
    font-size: 1.5vw;
}
a:visited{
    color: #EDEDED;
}

/*css for about page*/
#intro{
    display:flex;
    flex-direction: row;
    margin-bottom:12vw;
    padding-top: 3vw;
}
#intro-paragraph{
    display:flex;
    flex-direction: column;
    align-content: center;
    margin-left:10vw;
    margin-top:5vw;
}
#greetings{
    font-size: 2.2vw;
    height:5vw;
    width: 55vw;
    color: #EDEDED;
}
#dream{
    font-size: 2.2vw;
    height:6vw;
    width: 50vw;
    color: #EDEDED;
}
#bio{
    font-size: 1.3vw;
    height:8.5vw;
    width:50vw;
    margin-bottom:2vw;
}
#buttons{
    display: flex;
    flex-direction: row;
    margin-top:1vw;
}
#button{
    background-color: #EDEDED;
    height:2.3vw;
    width:15vw;
    text-align: center;
    margin-top:3vw;
    transition: .5s ease;
    margin-right: 1vw;
}
#button p{
    padding-top:.5vw;
    margin-top:-3vw;
    color:#121212;
    font-size: 1vw;
    transition: .3s ease;
}
a:hover #button{
    box-shadow:.2vw .2vw .20vw #121212;
    height:2.53vw;
    width:16.5vw;
    font-size:1.5vw;
  }
  #button:hover p{
    font-size:1.2vw;
  }
#personal-photo{
    display:flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top:8vw;
    padding-right:5vw;
    width:130%
}
#myimage{
    text-align: center;
    margin-bottom: 4%;
}
#myimage img{
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    
    transition: .3s ease;
}
#myimage:hover img {
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(.3em .1em .3em #ededed);
    opacity: 0.7;
    width:26vw;
    height:26vw;
  }
#socials{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 9.5vw;
}
#socialy .fa{
    padding: .7vw;
    font-size: 1vw;
    width: 1vw;
    height: 1vw;
    color:#EDEDED;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
    border: .1em solid #ededed;
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
  }
#socialy:hover a{
    font-size: 1.1vw;
    opacity: 0.3;
    width: 1.2vw;
    height: 1.2vw;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
.fa-github {
    background: #111111;
    color: white;
  }
#socials{
    text-align: center;
  }
/*-------------------------------------------------*/
/*css for project page*/
#projects{
    display:flex;
    flex-direction: column;
    margin-bottom:12vw;
    padding-top: 3vw;
}
.project{
    display: flex;
    flex-direction: row;
    margin-left:10vw;
    margin-top:5vw;
    justify-content: space-between;
}
.projectLeft{
    display: flex;
    flex-direction: row;
    margin-left:10vw;
    margin-top:3vw;
    justify-content: space-between;

}
.description{
    width:50vw;
    margin-right: 10vw;
    padding-left: 1vw;
    transition: .3s ease;
}
.descriptionLeft{
    width:50vw;
    text-align:right;
    padding-right: 1vw;
    transition: .3s ease;
}
.description:hover, .descriptionLeft:hover{
    border-style: solid;
    border-color: .2vw #ededed;
    box-shadow:.5vw .5vw .5vw #ededed;
}
.description h3, .descriptionLeft h3{
    font-size: 1.8vw;
    color: #ededed;
}
.description p, .descriptionLeft p{
    font-size: 1.5vw;
}
.projectIcon img{
    width:20vw;
    height: 16vw;
    border-radius:20%;
    border-color: #ededed;
    border:.2vw solid #ededed;
    transition: .5s ease;
}
.projectIconLeft img{
    width:20vw;
    height: 16vw;
    border-radius:20%;
    border-color: #ededed;
    border:.2vw solid #ededed;
    margin-right: 11vw;
    transition: .5s ease;
}
.projectIcon:hover img, .projectIconLeft:hover img{
    filter: brightness(100%);
    filter: contrast(100%);
    filter: drop-shadow(.5vw .5vw .5vw #ededed);
    background-color: #ededed;
    opacity: 0.5;
}
#blank{
    width:20vw;
    height: 16vw;
    background-color: #ededed;
    border-radius: 20%;
}
/*-------------------------------------------------*/
/*css for skill page*/
#skills{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    margin-bottom:12vw;
    padding-top: 3vw;
}
.cour{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:3vw;
    padding-left:4vw;
    margin-left:.8vw;
}
.head{
    font-size:3vw;
    transition: .3s ease;
    height:4%;
    color: #ededed;
    margin:auto;
    margin-bottom: 3vw;
    margin-left:3vw;
}
.head:hover{
    font-size: 2vw;
}

#langs{
    text-align: left;
    list-style: none;
    padding-bottom: 1vw;
    padding-top:1vw;
    padding-left:4vw;
    font-size:1.3vw;
    transition: .3s ease;
    width:15vw;
    margin:auto;
}
#langs:hover{
    font-size: 2vw;
    background-size: 2.3vw;
}

#courses{
    text-align: left;
    list-style: none;
    margin:auto;
	background-size: 1.5vw;
    padding-bottom: 1vw;
    padding-top:1vw;
    padding-left:4vw;
    font-size:1.3vw;
    transition: .3s ease;
    width:20vw;
}
#courses:hover{
    font-size: 2vw;
    background-size: 2.3vw;
}
/*-------------------------------------------------*/
/*css for interests page*/
#interests{
    margin-bottom:10vw;
    padding-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: -5px;
}
#pics{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0;
    margin-top: -.21vw;
    margin-left: 13vw;
    margin-right: 10vw;
    
}
#pic:hover img{
    opacity:.3;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0;
    margin-left: 13vw;
    margin-right: 10vw;
    margin-top: 5vw;
}
#pic img{
    width:27vw;
    height: 27vw;
    transition: .4s ease;
}
/*-------------------------------------------------*/
/*css for contact page*/
#contact{
    margin-bottom:10vw;
    display: flex;
    flex-direction: column;
}
#contacts{
    display: flex;
    flex-direction: column;
    gap: 8vw;
    margin-top: 5vw;
    margin-left:10vw;
}
#contacts .la{
    padding: 2vw;
    margin-top:0vw;
    font-size: 3vw;
    width: 20vw;
    height: 0vw;
    color:#D6D3FD;
    text-align: center;
    text-decoration: none;
    border-radius: 4vw;
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
    font-family: 'ABeeZee', sans-serif;
}
#contacts div{
    width: 20vw;
    height: 0vw;
}
#separate{
    display:flex;
    flex-direction: row;
}
#preview{
    margin-top: 5vw;
    width:40vw;
    height:31vw;
    margin-left: 10vw;
    border-radius:5vw;
    background-image: none;
}

.la-facebook {
    background: #3B5998;
    color: white;
  }
.la-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

  }
.la-linkedin {
    background: #007bb5;
    color: white;
  }
.la-github {
    background: #111111;
    color: white;
  }
